body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
}

.upload_file_wrapper {
  border: solid 1px gainsboro;
  width: 500px;
  border-radius: 10px;
  box-shadow: 5px 4px 5px -4px rgb(209, 205, 205);
  overflow: hidden;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  color: rgb(111, 109, 109);
}

.upload_file {
  flex-grow: 2;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}

.image_preview {
  border-radius: 100%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  background-repeat: no-repeat;
}

.btn_upload {
  height: 35px;
  width: 150px;
  border-radius: 10px;
  background-color: rgb(237, 238, 240);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid  rgb(159, 157, 157);
}

.file_info {
  display: flex;
  font-size: 16px;
  width: 100%;
  overflow: hidden;
  justify-content: center;
}

.file_name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 190px;
}

.input_file {
  display: none;
}